[defaults]
ask_pass=False
inventory=./inventory
remote_user=ansible
# executable=/bin/sh
# remote_tmp = /tmp/.ansible-${USER}
[privilege_escalation]
become=true
become_ask_pass=False
become_method=sudo
become_user=root
